@font-face {
    font-family: Poppins;
    src: url(poppins/Poppins-Medium.ttf);
}

body {
    /* font-family: Poppins; */
    margin: 0 auto;
}

.main {
    margin: 0 auto;
    padding-top: 50px;
    background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);;
}

.hamburger-menu {
    visibility: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    font-size: 30px;
}

.main__header {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-around;
}

.main__menu {
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.main__items {
    color: white;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
}

.main__btn {
    width: 150px;
    height: 50px;
    color: white;

    border: solid 1px;
    border-radius: 30px;
    background: none;
}

.main__block {
    width: 1200px;
    margin: 0 auto;
}

.main__title {
    font-family: Poppins;

    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
    margin: 0 auto;
    width: 700px;
    margin-top: 150px;

    text-align: center;
    letter-spacing: 0.2px;

    color: white;
} 

.main__text {

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    margin: 0 auto;
    width: 700px;
    margin-top: 50px;
    margin-bottom: 100px;

    text-align: center;
    letter-spacing: 0.2px;

    color: #E5E5E5;
}

.main__btns {
    margin: 0 auto;
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.main__btn_color {
    width: 200px;
    height: 50px;
    color: #112D57;

    border: none;
    border-radius: 30px;
    background: white;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    letter-spacing: 0.2px;
}

.main__btn_no-color {
    width: 200px;
    height: 50px;
    color: white;

    border: solid 1px;
    border-radius: 30px;
    background: none;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    letter-spacing: 0.2px;
}

.main__img {
    margin-left: 50px;
    margin-top: 100px;
}

.figma {
    margin: 0 auto;
    padding-top: 50px;
}

.figma__block {
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 100px;
}

.figma__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 57px;

    text-align: center;
    letter-spacing: 0.2px;

    color: #000000;
}

.figma__div {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-around;
}

.figma__div_blocks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 50px;

    width: 351px;
    height: 390.62px;
   
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;

    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.ico {
    text-align: left;
    width: 50px;
    height: 50px;
}

.figma__title_smal {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    
    letter-spacing: 0.1px;

    color: #000000;
}

.figma__title_white {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;

    letter-spacing: 0.1px;

    color: #FFFFFF;
}

.figma__div_color {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 50px;

    width: 356px;
    height: 388px;  

    background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
    border: 1px solid #DEDEDE;
    box-sizing: border-box;

    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.figma__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;

    letter-spacing: 0.2px;

    color: #5C5C5C;
}

.figma__text_color {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;

    letter-spacing: 0.2px;

    color: #FFFFFF;
}

.figma__learn {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 27px;

    letter-spacing: 0.2px;

    color: #03D6F3;

    text-decoration: none;
}

.figma__learn_white {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 27px;

    letter-spacing: 0.2px;

    color: #FFFFFF;

    text-decoration: none;
}

.process {
    margin: 0 auto;
    padding-top: 50px;
    
}


.process__div1 {
    margin: 0 auto;
    width: 1100px;
    display: grid;
    grid-template-columns: 500px 600px;
    grid-template-rows: 130px 120px 140px;
    margin-bottom: 100px;
}

.process__div3 {
    margin: 0 auto;
    width: 1150px;
    display: grid;
    grid-template-columns: 400px 750px;
    grid-template-rows: 250px 250px 140px;
    margin-bottom: 100px;
}

.process__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 57px;

    width: 600px;

    letter-spacing: 0.2px;

    color: #000000;
}

.process__text {
    grid-row: 2/3;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    width: 480px;

    margin-bottom: 50px;

    letter-spacing: 0.2px;

    color: #5C5C5C;
}

.process_btns {
    display: flex;
    justify-content: left;
    
    grid-row: 3/4;
}

.process__btns_blue {
    background: #03D6F3;

    margin-right: 20px;

    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    border: none;

    width: 216px;
    height: 52px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    letter-spacing: 0.2px;

    color: #FFFFFF;
}

.process__btns_white {
    background: #FFFFFF;

    width: 216px;
    height: 52px;

    border: 1px solid #30D7BA;
    box-sizing: border-box;

    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    letter-spacing: 0.2px;

    color: #30D7BA;

}

.process__img {
    width: 416px;
    height: 386px;

    grid-row: 1/4;
    grid-column: 2/3;

    margin-left: 150px;
}

.process__img3 {
    grid-row: 1/4;
    grid-column: 2/3;

    width: 762px;
    height: 545px;
}

.process__btn_blue2 {

    background: #03D6F3;


    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    border: none;

    width: 147px;
    height: 52px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    letter-spacing: 0.2px;

    color: #FFFFFF;
}

.process__text2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;

    width: 220px;

    margin-bottom: 50px;

    letter-spacing: 0.2px;

    color: #5C5C5C;
}

.process__img2 {
    margin-top: 50px;
    width: 712px;
    height: 495px;
}

.process__title2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 57px;

    width: 400px;

    letter-spacing: 0.2px;

    color: #000000;
}

.process__div2 {
    margin: 0 auto;
    width: 1100px;
    display: grid;
    grid-template-columns: 500px 600px;
    grid-template-rows: 200px 120px 80px;
    margin-bottom: 100px;
}

.process__div {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.process__img2 {
    width: 416px;
    height: 386px;

    grid-row: 1/4;
    grid-column: 1/2;
}

.product {
    margin: 0 auto;
    padding-top: 50px;
}

.product__block {
    width: 1200px;
    margin: 0 auto;
}

.product__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 57px;

    text-align: center;

    letter-spacing: 0.2px;

    color: #000000;
}

.product__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
    letter-spacing: 0.2px;

    color: #5C5C5C;
}

.product__levels {
    display: flex;
    justify-content: space-around;
}

.product__levels_all {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 50px;

    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 10px;

}

.product__levels-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    margin: 0 auto;

    text-align: center;
    letter-spacing: 0.1px;

    color: #000000;
}

.product__levels-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    
    
    letter-spacing: 0.1px;

    color: #5C5C5C;

}

.product__img {
    width: 209px;
    height: 398px;
    margin-bottom: 30px;
}

.product__levels-price {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
    text-align: center;

    margin-bottom: 30px;

    letter-spacing: 0.2px;

    color: #30D7BA;
}

.product__levels-money {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;

    letter-spacing: 0.1px;

    color: #30D7BA;
}

.product__levels-items_light {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    margin: 0px;

    line-height: 40px;

    letter-spacing: 0.2px;

    color: #5C5C5C;
}


.product__levels-time {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;

    letter-spacing: 0.1px;

    color: #5C5C5C;
}

.product__levels-items {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    text-align: center;

    margin: 0px;

    letter-spacing: 0.2px;
    line-height: 40px;

    color: #000000;
}

.product__btns {
    background: #03D6F3;
    border: none;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    letter-spacing: 0.2px;

    color: #FFFFFF;

    width: 251px;
    height: 52px;

    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
}

.product__levels-items_dark {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    text-align: center;

    margin: 0px;

    letter-spacing: 0.2px;
    line-height: 40px;

    color: #000000;
}

hr {
    width: 700px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #CDCDCD;
}

.subscribe {
    margin: 0 auto;
    padding-top: 50px;
}

.subscribe__block {
    width: 700px;
    margin: 0 auto;
}

.subscribe__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 57px;

    text-align: center;

    letter-spacing: 0.2px;

    color: #000000;
}

.subscribe__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    text-align: center;

    letter-spacing: 0.2px;

    color: #5C5C5C;
}

.subscribe__form {
    display: flex;
    justify-content: space-around;

    margin-top: 100px;
    margin-bottom: 100px;
}

.subscribe__input {
    width: 384px;
    height: 32px;

    padding: 23px 18px;

    background: #EFEFEF;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 6px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;

    letter-spacing: 0.2px;

    color: #5C5C5C;
}

.subscribe__btn {
    width: 177px;
    height: 52px;

    background: #03D6F3;

    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    border: none;

    letter-spacing: 0.2px;

    color: #FFFFFF;
}

.footer {
    background: #112D57;

    
    margin: 0 auto;
}

.footer__block {
    width: 1200px;

    display: flex;
    justify-content: space-around;
}

.footer__content {
    display: flex;
    flex-direction: column;
    
}

.footer__list {
    list-style: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;

    letter-spacing: 0.2px;

    color: #FFFFFF;

    padding: 50px 20px 50px 20px;
}

.footer__div-list {
    display: flex;
    justify-content: space-around;
    
}

.footer__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;

    text-align: center;

    letter-spacing: 0.1px;

    color: #FFFFFF;

}

.footer__contacts {
    margin-top: 50px;
}

.footer__contacts-list1 {
    list-style: none;
    list-style-image: url(adress.svg);

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;

    letter-spacing: 0.2px;

    color: #FFFFFF;
}

.footer__contacts-list2 {
    list-style: none;
    list-style-image: url(num.svg);

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;

    letter-spacing: 0.2px;

    color: #FFFFFF;
}

.footer__map {
    margin-top: 50px;
}

.footer__contacts-icons {
    display: flex;
    justify-content: left;
    padding: 0%;

    list-style: none;
}

.footer__contacts-icons li {
    margin-left: 20px;
}

 @media screen and (max-width:523px) {
    .main {
        width: 523px;
    }

    .main__header {
        width: 423px;
        margin: 0 auto;

    }

    .main__menu {
        width: 100px;
    }

    .main__btn {
        width: 150px;
        height: 50px;

        margin: 0 auto;
    }

    .main__title {
        margin-top: 70px;
        width: 400px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 46px;
        line-height: 57px;
    }

    .main__block {
        width: 523px;
        margin: 0 auto;
    }

    .main__logo {
        width: 300px;
    }

    .main__text {
        width: 300px;

        margin-bottom: 50px;
    }

    .main__btns {
        flex-direction: column;
        align-items: center;
    }

    .main__btn_color {
        margin: 20px;
        
    }
    
    .main__img {
        width: 364px;
        height: 224px;

        margin-left: 80px;
        margin-top: 60px;
    }

    .figma__block {
        width: 523px;
    }

    .figma__title {
        width: 300px;
        margin: 0 auto;
        text-align: center;

        margin-bottom: 30px;
    }

    .figma__div {
        flex-direction: column;
        align-items: center;

        width: 523px;
    }

    .figma__div_blocks {
        margin-bottom: 60px;
    }

    .figma__div_color {
        margin-bottom: 60px;
    }

    .process__div1 {
        width: 523px;
    
        grid-template-columns:  523px;
        grid-template-rows: 150px 150px 400px 150px;
        margin-bottom: 50px;
    }

    .process__title {
        width: 300px;
        text-align: center;

        margin: 0 auto;

        margin-bottom: 30px;
    }

    .process__text {
        width: 300px;

        margin: 0 auto;

        margin-bottom: 30px;
    }

    .process_btns {
        grid-row: 4/5;

        flex-direction: column;
        margin: 0 auto;
    }

    .process__btns_blue {
        margin-bottom: 20px;

        margin-right: 0px;
        
    }

    .process__img {
        grid-row: 3/4;
        grid-column: 1;
        margin: 0 auto;
    }

    .process__div2 {
        width: 523px;
    
        grid-template-columns:  523px;
        grid-template-rows: 250px 150px 390px 80px;
        margin-bottom: 50px;
    }

    .process__img2 {
        grid-row: 3/4;
        grid-column: 1;
        margin: 0 auto;
    }

    .process__btn_blue2 {
        grid-row: 4/5;

        margin: 0 auto;
    }

    .process__div3 {
        width: 523px;
    
        grid-template-columns:  523px;
        grid-template-rows: 250px 150px 370px 150px;
        margin-bottom: 50px;
    }

    .process__title2 {
        width: 300px;
        text-align: center;

        margin: 0 auto;

        margin-bottom: 30px;
    }

    .process__text2 {
        width: 300px;

        margin: 0 auto;

        margin-bottom: 30px;

        text-align: center;
    }

    .process__img3 {
        grid-row: 3/4;
        grid-column: 1;
        margin: 0 auto;

        width: 463px;
        height: 325px;
    }

    .product__block {
        flex-direction: column;

        width: 523px;

        margin: 0 auto;
    }

    .product__title {
        width: 400px;

        margin: 0 auto;

        margin-bottom: 20px;
    }

    .product__text {
        width: 300px;

        margin: 0 auto;

        margin-bottom: 50px;
    }

    .product__levels {
        flex-direction: column;

        width: 300px;

        margin: 0 auto;
    }

    .product__levels_all {
        margin-bottom: 30px;

        margin: 0 auto;

        padding: 30px;

        margin-bottom: 30px;
    }


    hr {
        width: 370px;

        margin-bottom: 70px;
    }

    .subscribe__block {
        width: 523px;

        flex-direction: column;
    }

    .subscribe__form {
        flex-direction: column;

        align-items: center;

        margin-top: 60px;
        margin-bottom: 60px;
    }

    .subscribe__input {
        width: 483px;
        height: 62px;

        text-align: center;

        margin-bottom: 10px;
    }

    .subscribe__btn {
        width: 483px;
        height: 62px;


        border-radius: 6px;

        text-align: center;
    }

    .footer__block {
        width: 523px;

        flex-direction: column;

        margin: 0 auto;
    }

    .footer__content {
        width: 423px;

        margin: 0 auto;
    }

    .footer__div-list {
        justify-content: center;

        width: 423px;

        margin: 0 auto;
    }

    .footer__list {
        margin: 40px 20px 0px 20px;

        text-align: center;
    }

    .footer__list li {
        margin-bottom: 20px;
    }

    .footer__text {
        text-align: left;

        margin-left: 55px;

        margin-bottom: 80px;
    }

    .footer__map {
        margin: 0 auto;

        margin-bottom: 70px;
    }

    .footer__contacts {
        margin: 0 auto;
    }

    iframe {
        width: 334px;
        height: 247px;
    }

    .footer__contacts-list1 {
        margin-bottom: 30px;
    }

    .footer__contacts-list2 {
        margin-bottom: 40px;
    }

    .main__menu {
        visibility: hidden;
    }

    .hamburger-menu {
        visibility: visible;
    }

    /* скрываем чекбокс */
    #menu__toggle {
        opacity: 0;
    }
    /* стилизуем кнопку */
    .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center;  /* центрируем содержимое кнопки */
        position: fixed;
        top: 60px;
        left: 470px;
        width: 36px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 200px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: black;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .7);

        
    }
    /* элементы меню */
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }

    .menu__item:hover {
        background-color: #e7e7e7;
        color: black;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
}



